torch==%PYTORCH_VERSION%
torchvision==%TORCHVISION_VERSION%
pyyaml
omegaconf
tqdm
wandb
numpy<2
pandas
pyarrow
scikit-learn
opencv-python
submitit
wholeslidedata<0.0.16
openslide-python
Pillow
pytest
matplotlib
